body{
    background-image: url("bg.jpg");
    background-size: cover;
    color: white;
    font-family: rockwell;
    font-size: 20px;
    font-weight: 500;
}
.navbar{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}
.education{
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}
.skills{
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}
.experience{
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}
.about{
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}
p{
    font-size: 20px;
    font-weight: 500;
}
a{
    color: yellow;
}
h2{
    color: yellow;
}