body {
  background-image: url('bg.jpg');
  background-size: cover;
  color: white;
  font-family: rockwell;
  font-size: 20px;
  font-weight: 500;
}
.main {
  border-radius: 10px;
  background-color: rgba(191, 169, 223, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.blog_title {
  color: blue;
}
